/* utility */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e50914;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #222222;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.accord-text {
  margin-bottom: 2rem;
}

.container {
  width: 55%;
  margin: 0 auto;
}

/* header */
.head {
  background-image: url('../img/banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.head::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 2rem 2rem 25rem #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8% 3.5%;
  position: relative;
  z-index: 2;
}

.navmenu {
  display: flex;
  align-items: center;
}

.logo img {
  width: 170px;
}

select {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid #999;
  padding: 0.7rem 1.3rem;
  letter-spacing: 0.1rem;
  margin-right: 2.5rem;
  font-size: 1.5rem;
}

option {
  background-color: #999;
}

.btn-signin {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 0.7rem 1.7rem;
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: 0.3rem;
  color: var(--white-color);
}

.tagline {
  max-width: 75rem;
  margin: 15rem auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.xxl-text {
  font-size: 6.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.p-upper {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.p-lower {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* email submit */
.get-start-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input {
  width: 65%;
  border: 2px solid #888;
  padding: 2.5rem 1rem;
  outline: none;
  border-radius: 0.2rem;
}

input:focus {
  border: 1px solid #0455af;
}

.btn-start {
  display: inline-block;
  width: 35%;
  background-color: var(--primary-color);
  padding: 2.2rem 1.2rem;
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--white-color);
  letter-spacing: 0.1rem;
}

.btn-start:hover {
  background-color: red;
}

::placeholder {
  font-size: 1.5rem;
}

/* section 1 */

.common-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1rem solid var(--gray-color);
  padding: 5rem 20rem;
}

.content-text {
  width: 53%;
}

.content-media {
  width: 47%;
  position: relative;
}

.xl-text {
  font-size: 4.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.content-p {
  font-size: 3rem;
}

/* content 1 */
.content1 .content-media img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.content1 .content-media video {
  position: absolute;
  width: 73%;
  height: auto;
  top: 20%;
  right: 13.9%;
}

/* content 2 */

.content2 .content-media .mobile-img {
  width: 100%;
}

.download-sec {
  background-color: var(--black-color);
  width: 60%;
  padding: 1rem;
  border: 3px solid var(--gray-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.download-p {
  font-size: 1.8rem;
}

/* content 3 */

.content3 .content-media img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.content3 .content-media video {
  position: absolute;
  width: 60%;
  height: auto;
  top: 8%;
  right: 20.9%;
}

/* content 4 */

.content4 .content-media img {
  width: 100%;
}

/* section 2 */
.sec2 {
  border-top: 1rem solid var(--gray-color);
  border-bottom: 1rem solid var(--gray-color);
  text-align: center;
  padding: 5rem 0;
}

.accordion .contentBx {
  text-align: left;
  position: relative;
  margin-bottom: 1rem;
}

.accordion .contentBx .label {
  position: relative;
  padding: 2.2rem;
  letter-spacing: 0.2rem;
  background-color: var(--gray-color);
  cursor: pointer;
  font-size: 2.8rem;
}

.accordion .contentBx .label::after {
  content: '+';
  position: absolute;
  right: 5%;
}

.accordion .contentBx.active .label::after {
  content: 'x';
}

.accordion .contentBx .content {
  position: relative;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-color: var(--gray-color);
  color: var(--white-color);
}

.accordion .contentBx.active .content {
  height: auto;
  padding: 1.6rem;
}
.accordion .contentBx.active .label {
  border-bottom: 2px solid var(--black-color);
}

/* media query for mobile */
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  /* header */
  .head {
    height: 80vh;
  }
  .navbar {
    padding: 3% 3.5%;
  }

  .logo img {
    width: 100px;
  }
  select {
    padding: 0.7rem 1rem;
    margin-right: 2rem;
    font-size: 1.2rem;
  }

  .btn-signin {
    padding: 0.7rem 1.2rem;
    font-size: 1.4rem;
  }

  .xxl-text {
    font-size: 2.8rem;
  }

  .p-upper {
    font-size: 2rem;
  }

  .p-lower {
    font-size: 2.2rem;
  }

  .get-start-form {
    flex-direction: column;
  }
  input {
    width: 90%;
    padding: 2.2rem 1rem;
    margin-bottom: 2rem;
  }

  input:focus {
    border: 1px solid #0455af;
  }

  .btn-start {
    width: 40%;
    padding: 1.8rem 1rem;
    font-size: 1.8rem;
  }

  /* section 1 */

  .common-content {
    flex-flow: column nowrap;
    padding: 5rem 2rem;
    text-align: center;
  }

  .content-text,
  .content-media {
    width: 100%;
  }

  .xl-text {
    font-size: 2.8rem;
  }

  .content-p {
    font-size: 1.8rem;
  }

  /* download sec */
  .download-sec {
    width: 65%;
    padding: 0rem;
    left: 18%;
  }

  /* sec2 */
  .accordion .contentBx .label {
    padding: 2.2rem;
    font-size: 2rem;
  }

  .accordion .contentBx .content {
    font-size: 2.2rem;
  }
}
